.user-registration-highlights
  = simple_form_for @player_profile do |f|
    = hidden_field_tag :form, params[:form]
    
    %h2 Add Your Position Highlight Videos

    .row.highlight-videos
      = render partial: 'highlights/highlight', collection: @player_profile.highlights

      .col-xs-6
        %h4 &nbsp;
        %a.add-team{"data-target" => "#highlightModal", "data-toggle" => "modal"}
          %span.glyphicon.glyphicon-plus
          %h4 Add New Video


    .row.form-actions
      = f.button :submit, (@player_profile.complete? ? "Save" : "Complete profile"), class: "btn-primary btn-lg"


/ Modal
#highlightModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h4#myModalLabel.modal-title Add New Video
      .modal-body
        = simple_form_for @player_profile.highlights.build, data: {remote: true} do |f|
          .form-inputs
            = f.input :custom_title, label: false, placeholder: 'Video Title'
            = f.input :video_url, label: false, placeholder: 'Youtube URL'

          .form-actions
            = f.button :submit, "Add Video", class: "btn btn-primary"